<% layout('../../layouts/layout.ejs') -%>
<style>
    #user-list-table_previous,
    #user-list-table_next {
        color: #9c27b0 !important
    }
</style>
<div class="container-fluid" ng-controller="listController">
    <div class="row">
        <div class="col-md-12">
            <a href="/user/create">
                <button type="submit" class="btn btn-plus btn-primary pull-left">
                    <i class="fas fa-plus plus-icon"></i>
                </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title" style="line-height: 50px">{{user}} List</h4>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-white pull-right"
                                ng-class="{ 'selected-btn': isSelectedActive}"
                                ng-click="isSelectedActive=true;getAllCustomer()">
                                All
                            </button>
                            <button type="submit" class="btn btn-white pull-right" style="margin-right: 10px"
                                ng-class="{ 'selected-btn': !isSelectedActive}" ng-click="isSelectedActive=false">
                                In Apartment
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" ng-show="!isSelectedActive">
                        <table class="table" id="customer-list-table">
                            <thead class=" text-primary">
                                <th style="width: 10%">Name</th>
                                <th style="width: 10%">Phone</th>
                                <th style="width: 10%">Email</th>
                                <th style="width: 10%">Address</th>
                                <th style="width: 10%">Created Time</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="customer in customers">
                                    <td>
                                        <a href="/customer/{{customer.code}}">
                                            {{customer.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/customer/{{customer.code}}">
                                            {{customer.phone}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/customer/{{customer.code}}">
                                            {{customer.email}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/customer/{{customer.code}}">
                                            {{customer.email}}
                                        </a>
                                    </td>
                                    <td data-order="{{customer.createdTime}}">
                                        <a href="/customer/{{customer.code}}">
                                            {{customer.createdTime | date:'dd/MM/yyyy HH:mm:ss'}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" ng-show="isSelectedActive">
                        <table class="table" id="customer-all-list-table">
                            <thead class=" text-primary">
                                <th style="width: 10%">Name</th>
                                <th style="width: 10%">Phone</th>
                                <th style="width: 10%">Email</th>
                                <th style="width: 10%">Address</th>
                                <th style="width: 10%">Created Time</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="customer in customersAll">
                                    <td>
                                        <a href="/customer/{{customer.code}}">
                                            {{customer.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/customer/{{customer.code}}">
                                            {{customer.phone}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/customer/{{customer.code}}">
                                            {{customer.email}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/customer/{{customer.code}}">
                                            {{customer.email}}
                                        </a>
                                    </td>
                                    <td data-order="{{customer.createdTime}}">
                                        <a href="/customer/{{customer.code}}">
                                            {{customer.createdTime | date:'dd/MM/yyyy HH:mm:ss'}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/manager/user/list.js"></script>
<script>
    clickSideBar('user-page')
</script>