<% layout('../../layouts/layout.ejs') -%>
<style>
    #user-list-table_previous,
    #user-list-table_next {
        color: #9c27b0 !important
    }
</style>
<div class="container-fluid" ng-controller="listController">
    <div class="row">
        <div class="col-md-12">
            <a href="/apartment/create">
                <button type="submit" class="btn btn-plus btn-primary pull-left">
                    <i class="fas fa-plus plus-icon"></i>
                </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Apartment List</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="apartment-table">
                            <thead class=" text-primary">
                                <th style="width: 10%">Name</th>
                                <th style="width: 20%">Phone</th>
                                <th style="width: 15%">Manger</th>
                                <th style="width: 30%">Address</th>
                                <th style="width: 15%">Created Date</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="apartment in apartments">
                                    <td>
                                        <a href="/apartment/{{apartment.code}}">
                                            {{apartment.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/apartment/{{apartment.code}}">
                                            {{apartment.phone}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/apartment/{{apartment.code}}">
                                            {{apartment.manager.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/apartment/{{apartment.code}}">
                                            {{apartment.address}}
                                        </a>
                                    </td>
                                    <td data-order="{{apartment.createdDate}}">
                                        <a href="/apartment/{{apartment.code}}">
                                            {{apartment.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/supervisor/apartment/list.js"></script>
<script>
    clickSideBar('apartment-page')
</script>