<% layout('../../layouts/layout.ejs') -%>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<style>
    .modal-footer {
        display: initial
    }
</style>
<div class="container-fluid" ng-controller="createController">
    <div class="row flex">
        <div class="col-md-8 mg-0-auto">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Create News</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12 flex">
                                <img src="/images/logo.png" alt="" class="mg-0-auto news-image" id="news-image"
                                    style="cursor: pointer; object-fit: cover;" ng-click="chooseFile()">
                                <input id="file" type="file" accept="image/*" style="display:none"
                                    onchange="onChangeImage(event)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Title</label>
                                    <input type="text" class="form-control" ng-model="news.title" id="title"
                                        value="{{news.title}} ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group select-in-form">
                                    <label class="bmd-label-floating">Type</label>
                                    <input type="text" class="form-control hide" value=" " disabled>
                                    <select style="width: 100%;" class="form-control select2-single"
                                        ng-model="news.type">
                                        <option value="Announcement">Announcement</option>
                                        <option value="Life And Society">Life And Society</option>
                                        <option value="Event">Event</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Expiry Date</label>
                                    <input type="text" class="form-control" id="expired-date"
                                        value=" ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="content">Content</label>
                                    <textarea type="text" rows="15" class="form-control" ng-model="news.content"
                                        id="content"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right"
                            ng-click="createNews()">Create</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="/javascripts/supervisor/news/create.js"></script>
<script>
    clickSideBar('news-page')
    $(document).ready(function () {
        $('.select2-single').select2().val('Annoucement').trigger('change')
        $('#expired-date').datepicker({
            dateFormat: 'dd/mm/yy',
            changeYear: true,
            changeMonth: true,
            minDate: 'today',
        }).datepicker('setDate', 'today')
        setTimeout(() => {
            $('#title').focus()
        }, 500);
    });
</script>