<% layout('../../layouts/layout.ejs') -%>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<style>
    .modal-footer {
        display: initial
    }
</style>
<p id="code" class="hide"> <%= code %></p>
<div class="container-fluid" ng-controller="detailController">
    <div class="row flex">
        <div class="col-md-8 mg-0-auto">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">News Detail</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12 flex">
                                <img src="{{news.photoURL || '/images/logo.png'}}" alt=""
                                    class="mg-0-auto news-image-detail" style="cursor: pointer; object-fit: cover;"
                                    ng-click="chooseFile()" id="news-image">
                                <input id="file" type="file" accept="image/*" style="display:none"
                                    onchange="onChangeImage(event)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Title</label>
                                    <input type="text" class="form-control" ng-model="news.title" id="title"
                                        value="{{news.title}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group select-in-form">
                                    <label class="bmd-label-floating">Type</label>
                                    <input type="text" class="form-control hide" value=" " disabled>
                                    <select style="width: 100%;" class="form-control select2-single"
                                        ng-model="news.type" ng-disabled="isNotEditing">
                                        <option value="Announcement">Announcement</option>
                                        <option value="Life And Society">Life And Society</option>
                                        <option value="Event">Event</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Expiry Date</label>
                                    <input type="text" class="form-control" id="expired-date"
                                        value="{{news.expiredDate | date:'dd/MM/yyyy'}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="content">Content</label>
                                    <textarea type="text" rows="15" class="form-control" ng-model="news.content"
                                        ng-disabled="isNotEditing" id="content"></textarea>
                                </div>
                            </div>
                        </div>
                        <button ng-show="isNotEditing" type="submit" class="btn btn-primary pull-right"
                            ng-click="isNotEditing=false;focusName()">Edit</button>
                        <div ng-show="!isNotEditing">
                            <button type="submit" class="btn btn-success pull-right"
                                ng-click="isNotEditing=true;editNews()">Save</button>
                            <button type="submit" class="btn btn-danger pull-left"
                                ng-click="isNotEditing=true">Cancel</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="/javascripts/supervisor/news/detail.js"></script>
<script>
    clickSideBar('news-page')
    $(document).ready(function () {
        $('.select2-single').select2()
        $('#expired-date').datepicker({
            dateFormat: 'dd/mm/yy',
            changeYear: true,
            changeMonth: true,
            minDate: 'today',
        })
    });
</script>