<% layout('../../layouts/layout.ejs') -%>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<style>
    #user-list-table_previous,
    #user-list-table_next {
        color: #9c27b0 !important
    }

    body>div.wrapper>div.main-panel>div>div>div>div>div>div.card-header.card-header-primary>div>div.col-md-4>span {
        margin-top: 10px;
    }
</style>
<div class="container-fluid" ng-controller="listController">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title" style="line-height: 50px">News List</h4>
                        </div>
                        <!-- <div class="col-md-4">
                            <select style="width: 100%;" class="form-control" name="selected-apartment"
                                id="selected-apartment" ng-model="selectedApartment" ng-change="filterApartment()">
                                <option value="">Tất Cả</option>
                                <option ng-repeat="apartment in apartments" value="{{apartment.name}}">
                                    {{apartment.name}}
                                </option>
                            </select>
                        </div> -->
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="rooms-table">
                            <thead class=" text-primary">
                                <th style="width: 15%"></th>
                                <th style="width: 45%">Title</th>
                                <th style="width: 20%">Type</th>
                                <th style="width: 20%">Created Date</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="new in news">
                                    <td>
                                        <a href="/new/{{new.code}}">
                                            {{new.photoURL}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/new/{{new.code}}">
                                            {{new.title}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/new/{{new.code}}">
                                            {{new.type}}
                                        </a>
                                    </td>
                                    <td data-order="{{new.createdTime}}">
                                        <a href="/new/{{new.code}}">
                                            {{new.createdTime == 0 ? 'N/A' : new.createdTime | date:'dd/MM/yyyy HH:mm:ss'}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="/javascripts/supervisor/room/list.js"></script>
<script>
    $(document).ready(function () {
        $('#selected-apartment').select2();
    });
    clickSideBar('news-page')
</script>