<% layout('../../layouts/layout.ejs') -%>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<style>
    #user-list-table_previous,
    #user-list-table_next {
        color: #9c27b0 !important
    }

    body>div.wrapper>div.main-panel>div>div>div>div>div>div.card-header.card-header-primary>div>div.col-md-4>span {
        margin-top: 10px;
    }

    .far.fa-trash-alt {
        transform: scale(2);
        color: red;
        cursor: pointer;
    }
</style>
<div class="container-fluid" ng-controller="listController">
    <div class="row">
        <div class="col-md-12">
            <a href="/news/create">
                <button type="submit" class="btn btn-plus btn-primary pull-left">
                    <i class="fas fa-plus plus-icon"></i>
                </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title" style="line-height: 50px">News List</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="news-table">
                            <thead class=" text-primary">
                                <th style="width: 10%"></th>
                                <th style="width: 40%">Title</th>
                                <th style="width: 20%">Type</th>
                                <th style="width: 13%">Expired Date</th>
                                <th style="width: 13%">Created Date</th>
                                <th style="width: 4%"></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="new in news">
                                    <td>
                                        <a href="/news/{{new.code}}" class="flex">
                                            <img class="img mg-0-auto" id="avatar-list"
                                                src="{{new.photoURL || '/images/logo.png'}}" />
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/news/{{new.code}}">
                                            {{new.title}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/news/{{new.code}}">
                                            {{new.type}}
                                        </a>
                                    </td>
                                    <td data-order="{{new.expiredDate}}">
                                        <a href="/news/{{new.code}}">
                                            {{new.expiredDate == 0 ? 'N/A' : new.expiredDate | date:'dd/MM/yyyy'}}
                                        </a>
                                    </td>
                                    <td data-order="{{new.createdTime}}">
                                        <a href="/news/{{new.code}}">
                                            {{new.createdTime == 0 ? 'N/A' : new.createdTime | date:'dd/MM/yyyy HH:mm:ss'}}
                                        </a>
                                    </td>
                                    <td>
                                        <i class="far fa-trash-alt" data-toggle="modal"
                                            data-target="#deleteNewsModal" ng-click="setDeleteNews(new._id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade model-center" id="deleteNewsModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="addRoomModelLabel" data-color="purple">Delete News Confirm</h3>
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 class="model-content">Are you sure to delete this News?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="deleteNews()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="/javascripts/supervisor/news/list.js"></script>
<script>
    $(document).ready(function () {
        $('#selected-apartment').select2();
    });
    clickSideBar('news-page')
</script>