<!-- Modal Change Avatar -->
<style>
  #image-to-change {
    width: 100%;
  }
</style>

<div id="modal-change-avatar" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="text-center modal-title" style="width: 100%">
          Change Avatar
        </h3>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>

      <div class="modal-body">
        <div class="form-container" style="text-align: center">
          <form id="form-change-avatar text-center">
            <img id="image-to-change" src="{{ customer.photoURL }}" />
            <input id="file" type="file" accept="image/*" style="display:none" onchange="onChangeImage(event)" />
            <input type="text" name="userCode" id="user-code" value="{{customer.code}}" class="hide" disabled>
          </form>
          <button class="btn btn-primary createInput" onclick="chooseFile()" id="choose-button">Choose file</button>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger pull-left" data-dismiss="modal">
          <i class="ace-icon fa fa-times"></i>
          Cancel
        </button>
        <button class="btn btn-success pull-right" onclick="onChangeAvatar()">
          <i class="ace-icon fa fa-check"></i>
          Change
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<script>
  function onChangeAvatar() {
    if (!$('#file').val()) {
      showNotification('Bạn chưa chọn ảnh nào', 'error')
      return
    }
    $('#loading').show()

    setTimeout(function () {
      $('#loading').hide()
      $('#modal-change-avatar').modal('hide')
      showNotification('Time out', 'error')
    }, 15000)

    var formData = new FormData()
    formData.append('image', newAvatar)
    let userCode = $('#user-code').val()

    // Use jQuery.ajax method
    $.ajax('https://api.imgbb.com/1/upload?key=' + COMMON.uploadKey, {
      method: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {
        $.ajax('/api/v1/user/changeAvatar/' + userCode, {
          method: 'PUT',
          data: {
            photoURL: response.data.display_url
          },
          success: function (response) {
            $('#loading').hide()
            showNotification(response.message, 'success')
            setTimeout(function () { window.location.reload() }, 1500)
          },
          error: function (err) {
            showNotification(err.responseJSON.errorMessage, 'danger')
            err && console.log(err)
            $('#loading').hide()
          }
        })
      },
      error: function (err) {
        showNotification(err.responseJSON.errorMessage, 'danger')
        err && console.log(err)
        $('#loading').hide()
        $('#modal-change-avatar').modal('hide')
      }
    })
  }

  function chooseFile() {
    $('#file').click()
  }

  var imgtag = document.getElementById('image-to-change')
  var newAvatar

  function onChangeImage(event) {
    var selectedFile = event.target.files[0]
    var getImagePath = URL.createObjectURL(event.target.files[0])
    imgtag.src = getImagePath
    newAvatar = selectedFile
  }

</script>