<% layout('../../layouts/layout.ejs') -%>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<style>
    .modal-footer {
        display: initial
    }
</style>
<p id="code" class="hide"> <%= code %></p>
<div class="container-fluid" ng-controller="detailController">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Customer Profile</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Fullname</label>
                                    <input type="text" class="form-control" ng-model="customer.name" id="fullname"
                                        value="{{customer.name}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Phone</label>
                                    <input type="text" class="form-control numberInput" ng-model="customer.phone"
                                        value="{{customer.phone}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Gender</label>
                                    <input type="text" class="form-control" ng-model="customer.gender"
                                        value="{{customer.gender}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Birthdate</label>
                                    <input type="text" class="form-control" name="birthdate" id="birthdate"
                                        value="{{customer.dateOfBirth | date:'dd/MM/yyyy'}}" ng-disabled="isNotEditing">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Email address</label>
                                    <input type="text" class="form-control" ng-model="customer.email"
                                        value="{{customer.email}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Role</label>
                                    <input type="text" class="form-control" ng-model="customer.role"
                                        value="{{customer.role}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Address</label>
                                    <input type="text" class="form-control" ng-model="customer.address"
                                        value="{{customer.address}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="note">Note</label>
                                    <textarea type="text" rows="3" class="form-control" ng-model="customer.note"
                                        ng-disabled="isNotEditing" id="note"></textarea>
                                </div>
                            </div>
                        </div>
                        <button ng-show="isNotEditing" type="submit" class="btn btn-primary pull-right"
                            ng-click="isNotEditing=false;focusName()">Update Profile</button>
                        <div ng-show="!isNotEditing">
                            <button type="submit" class="btn btn-success pull-right"
                                ng-click="isNotEditing=true;editProfile()">Save</button>
                            <button type="submit" class="btn btn-danger pull-left"
                                ng-click="isNotEditing=true">Cancel</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar" onclick="showModalChangeAvatar()">
                    <a href="#pablo">
                        <img class="img" src="{{customer.photoURL || '/images/logo.png'}}" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">Customer</h6>
                    <h4 class="card-title">{{customer.name}}</h4>
                </div>
            </div>
            <button ng-click="getApartments()" type="submit" class="btn btn-primary pull-left" data-toggle="modal"
                data-target="#addRoomModel">Add
                Room</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade model-center" id="addRoomModel" role="dialog" aria-labelledby="addRoomModelLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="addRoomModelLabel" data-color="purple">Add New Room</h3>
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select style="width: 100%" class="form-control" name="selected-apartment"
                                    id="selected-apartment" ng-model="selectedApartment" ng-change="getRoom()">
                                    <option ng-repeat="apartment in apartments" value="{{apartment._id}}">
                                        {{apartment.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display: flex">
                        <div class="col-md-6" style="margin: 0 auto;">
                            <div class="form-group">
                                <select style="width: 100%" class="form-control" name="selected-room" id="selected-room"
                                    ng-model="selectedRoom">
                                    <option ng-repeat="room in rooms" value="{{room._id}}">
                                        {{room.user ? room.roomNumber  + ' - ' + room.user.name : room.roomNumber}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="addRoomForUser()">Add</button>
                </div>
            </div>
        </div>
    </div>
    <% include ../../modal/change-avatar %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="/javascripts/supervisor/user/detail.js"></script>
<script>
    clickSideBar('user-page')
    $(document).ready(function () {
        $('#birthdate').datepicker({
            dateFormat: 'dd/mm/yy',
            autoclose: true,
            changeMonth: true,
            changeYear: true,
        })
        $('#selected-apartment').select2({
            placeholder: 'Select a apartment'
        });
        $('#selected-room').select2({
            placeholder: 'Select a room'
        });
        setTimeout(() => {
            numberFormat()
        }, 200);
    });
</script>